@{
    Layout = null;
}

    @{
        for (int i = 0; i < @ViewBag.hps.Count; i++)
        {
            <dl>
                <dt><a href="#"><img src="@ViewBag.hps[i].pics[0].path" width="190" height="128" /></a></dt>
                <dd>
                    <h3><a href="#">@ViewBag.hps[i].community</a></h3>
                    <div class="guantext">@ViewBag.hps[i].region @ViewBag.hps[i].houseDesc</div>
                    <div class="guantext">@ViewBag.hps[i].unitType | @ViewBag.hps[i].area 平米 | @ViewBag.hps[i].floor</div>
                    <div class="guantext">租金:&nbsp; @ViewBag.hps[i].price 元 / 月
                    @if (@ViewBag.hps[i].audit == "0")
                    {
                        <div class="guantext" style="color:blue">未审核</div>
                        <div class="guantext2">
                            发布时间：@ViewBag.hps[i].time
                        </div>
                    }
                    @if (@ViewBag.hps[i].audit == "1")
                    {
                        <div class="guantext" style="color:green">已审核</div>
                        <div class="guantext2">
                            发布时间：@ViewBag.hps[i].time
                        </div>
                    }
                    @if (@ViewBag.hps[i].audit == "2")
                    {
                        <div class="guantext" style="color:red">驳回</div>
                        <div class="guantext2">
                            发布时间：@ViewBag.hps[i].time
                        </div>
                    }
                    @*<div class="guantext2">
                        订单时间：@ViewBag.orders[i].time
                        <a id="pay" href="@Url.Action("PayOrder", "Orders", new { id=@ViewBag.orders[i].oid })" class="qxgz">支付订单</a>
                        <a id="cancel" href="@Url.Action("CancelOrder", "Orders", new { oid = @ViewBag.orders[i].oid, hid = @ViewBag.hps[i].hid })" class="qxgz">取消订单</a>
                    </div>*@
                </dd>
                <div class="clearfix"></div>
            </dl>
        }
    }

